body {
  padding: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  background-color: white; }

a {
  color: #00B7FF;
  text-decoration: none; }

li {
  padding-left: 3em;
  display: inline-block;
  text-align: center; }

ul {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  display: inline-block;
  list-style-type: none;
  margin: auto;
  padding: 1em 5em 0 0;
  color: white; }

#downarrow {
  height: 2em;
  width: 2em;
  top: 95%;
  text-align: center; }

#name {
  font-family: 'Raleway', sans-serif;
  color: white;
  padding-top: 45vh;
  line-height: 2em;
  font-size: 1em;
  text-align: center; }

p {
  text-align: center; }

span {
  text-align: center;
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite; }

@keyframes caret {
  50% {
    border-color: transparent; } }

#about {
  display: inline-block;
  font-size: 1.5em;
  width: 100%;
  height: 60vh;
  background-color: black; }

#aboutme {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 0;
  padding: 10vh 15% 10vh 15%; }

#aboutme > p {
  margin-top: 0;
  font-size: .7em;
  padding: 0 10% 10% 10%; }

#head {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url("../images/city.jpeg");
  background-size: cover;
  margin: 0;
  style: none; }

#projects {
  margin-top: 4em;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  height: auto; }

#projects > h1 {
  text-align: left;
  margin-left: 15%; }

.border {
  border-top: 1px solid #ccc;
  margin-top: 5em;
  height: 5em; }

#projects > a {
  height: 0;
  width: 0;
  color: white;
  margin: 0;
  padding: 0; }

#projects > div > a > img {
  max-height: 100%;
  max-width: 100%;
  min-width: 320px;
  background-color: black;
  padding: 1px;
  height: auto;
  width: 70%; }

#projects > div > p {
  font-size: .7em;
  width: 50%;
  text-align: left;
  margin-left: 15%; }

footer {
  display: inline-block;
  background-color: black;
  height: auto;
  color: white;
  width: 100%; }

#footerimages {
  margin: auto;
  height: 10em;
  width: 100%; }

#github {
  display: inline-block;
  height: 2em;
  width: 2em; }

#linkedin {
  display: inline-block;
  height: 2em;
  width: 2em; }

@media (max-width: 531px) {
  ul {
    display: block; } }
